#wapper {

    width: 200px;
    height: 200vh;
}
.container-3 input#search {
    width: 300px;
    height: 50px;
    background: azure;
    border: none;
    font-size: 10pt;
    float: left;
    color: #080606;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
}
#header {
    height: 100%;
    
    /* background-image: url(fatfood.png); */
    width: 100%;
    /* padding: 0px 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

body{
    background: url(pexels-quintin-gellar-313782.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.login{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
   

}
h2{
    color:black;
    font-family: sans-serif;

}
.input{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 20px;

}
.button{
    width: 220px;
    height: 40px;
    margin-bottom:10px ;
    border-radius: 5px;
    border: none;
    background-color: #45a049;
    color: white;
}
.button:hover{
    font-size: 15px;
}

